.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  height: 48px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  margin-bottom: 16px;

  @media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet - 1) {
    margin-left: 16px;
    margin-right: 16px;
  }

  @media screen and (min-width: $screen-tablet) {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.form__input:focus {
  padding-left: 16px;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.form__input::placeholder {
  font-family: $font-family;
  padding-left: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.form__input_message {
  padding-top: 10px;
  height: 118px;
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  font-weight: 500;

  @media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet - 1) {
    margin-left: 16px;
    margin-right: 16px;
  }

  @media screen and (min-width: $screen-tablet) {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.form__link {
  text-decoration: none;
  color: $btn-background-color;
}

.form__btn {
  align-self: flex-end;
  width: 136px;
  height: 32px;
  background-color: $btn-background-color;
  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  position: relative;
  padding-left: 15px;
  text-align: left;
  margin-top: 20px;

  @media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet - 1) {
    margin-right: 16px;
  }

  @media screen and (min-width: $screen-tablet) {
    margin-right: 32px;
  }
}

.form__btn:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  background: url("../img/icons/i-arrow-hover.svg") no-repeat center;
}
