.modal {
  height: 100%;
  min-width: 320px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  //right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 1s;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  display: flex;

  &_call {
   right: -768px;
  }

  &_feedback {
    right: -768px;
  }

  @media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet - 1) {
    flex-direction: column;
  }

  @media screen and (min-width: $screen-tablet) {
    flex-direction: row;
  }


  &__header {
    width: 100%;
    margin-left: 16px;
    margin-top: 30px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 40px;
      left: 0;
      background-color: $decorative-color;
    }

    @media screen and (min-width: $screen-tablet) {
      margin-left: 32px;
    }
    &_h1 {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      color: #1B1C21;
    }
  }

  &__btn {
    display: none;

    @media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet - 1) {
      margin-top: 24px;
      margin-left: 16px !important;
      align-self: flex-start !important;
    }

    @media screen and (min-width: $screen-tablet) {
      position: fixed;
      top: 25px;
      right: 467px;
    }
  }


  @media screen and (min-width: $screen-tablet) {
    width: 440px;
  }
}
