.overlay_sidebar {
  @media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet - 1){
    display: none;
  }

  @media screen and (min-width: $screen-tablet){
    display: none;
    position: fixed;
    left: 320px;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
  }

  @media screen and (min-width: 1440px){
    display: none;
  }
}

.overlay_modal {
  @media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet - 1){
    display: none;
  }

  @media screen and (min-width: $screen-tablet){
    display: none;
    position: fixed;
    right: 440px;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
  }

  @media screen and (min-width: 1440px){
    display: none;
  }
}

