.sidebar {
  height: 100%;
  min-width: 320px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -768px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 1s;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);

  @media screen and (min-width: $screen-tablet) {
    width: 320px;
  }

  @media screen and (min-width: 1440px){
    left: 0;
    box-shadow: none;
  }

  @media screen and (min-height: 770px) {
    display: flex;
    flex-direction: column;
  }
}

.sidebar__logo {
  width: 97px;
  height: 51px;
  margin-left: 16px;
  display: flex;
  justify-content: flex-start;
}

.sidebar__nav {
  height: 452px;
  align-items: flex-start;
  margin-top: 16px;
}
