@import "../fonts/stylesheet.css";
@import "./variables";

/* Миксины */
@import "./mixins/separator";

/* БЭМ-блоки */
@import "./blocks/page-header";
@import "./blocks/nav";
@import "./blocks/icon";
@import "./blocks/logo";
@import "./blocks/about";
@import "./blocks/menu";
@import "./blocks/btn";
@import "./blocks/section";
@import "./blocks/brands";
@import "./blocks/card";
@import "./blocks/my-swiper";
@import "./blocks/devices";
@import "./blocks/prices";
@import "./blocks/table";
@import "./blocks/footer";
@import "./blocks/sidebar";
@import "./blocks/lang";
@import "./blocks/modal";
@import "./blocks/form";
@import "./blocks/hidden";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  background-color: $background-color;
}

main {
  transition: .5s;
  transition-delay: .5s;

  @media screen and (min-width: 1440px){
    margin-left: 320px;
  }
}

