$background-color:      #F8F8F8;
$btn-background-color:  #FF3E79;
$text-color:            #1B1C21;
$text-color-additional: #7E7E82;
$decorative-color:      #41F6D7;

$main-linear-gradient:  linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
$main-box-shadow:       16px 0px 52px rgba(14, 24, 80, 0.2);
$font-family:           'TT Lakes', sans-serif;


$screen-mobile:         320px;
$screen-tablet:         768px;
$screen-desktop:        1120px;
