html {
	background-color: #fff;
	height: 100%;
}

nav {
	border: none;
}

.mobile-menu {
	width: 320px;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	height: 87px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 18px;
}

.header__left-col {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-start;
}
.header__right-col {
	display: flex;
	align-items: center;
	height: 52px;
	align-self: flex-start;
}

.header__item {
	width: 40px;
	height: 40px;
	margin: 0 8px;
	background-color: #FF3E79;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;
	transition-timing-function: ease-in;
	cursor: pointer;
}

.header__logo {
	width: 98px;
	height: 52px;
	margin-left: 12px;
}

.header__image {
	width: 100%;
    background-color: #FFFFFF;
}

.link-icon {
	width: 40px;
	height: 40px;
}

.header__item::after {
	display: none;
}

.header__item:first-child {
	margin-left: 24px;
}

.header__item:last-child {
	margin-right: 24px;
}

.nav_mobile {
	margin-top: 30px;
	height: 452px;
	align-items: flex-start;
}

.menu_mobile {
	margin-left: 24px;
}

.menu__list_mobile {
	display: flex;
	flex-direction: column;
}

.menu__item_mobile {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 32px;
	letter-spacing: -0.2px;
	color: #1B1C21;
	font-weight: 500;
	list-style: none;
	flex-basis: 12.5%;
	cursor: pointer;
	transition: color .5s ease;
}

.menu__item_active_mobile {
	color: #7E7E82;
	position: relative;
}

.menu__item_active_mobile::before {
	content: "";
	position: absolute;
	left: -24px;
	top: -5px;
	width: 4px;
	height: 32px;
	background: #41F6D7;
	border-radius: 5px;
}


.footer_mobile {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: 32px;
	margin-left: 24px;
}

.footer__nav {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
	margin-left: -8px;
}

.footer__item {
	width: 40px;
    height: 40px;
    margin: 0 8px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
}

.footer__email {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1B1C21;
	font-weight: 500;
	text-decoration: none;
	margin-bottom: 10px;
}

.footer__number {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.6px;
	font-weight: 700;
	text-decoration: none;
	color: #1B1C21;
	margin-bottom: 30px;
}

.footer__languages {
	display: flex;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color: #1B1C21;
}

.lang-item {
	margin: 0 3px;
	cursor: pointer;
}

.lang-item:first-child {
	margin-left: 0;
}

.lang-item:last-child {
	margin-right: 0;
}

.lang-item_active{
	color: #7E7E82;
}


@media screen and (min-width: 321px) {
	.mobile-menu {
		-webkit-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
		-moz-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
		box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
	}
}

@media screen and (min-height: 800px)
{
	.mobile-menu {
		height: 100vh;
	}
}
